body{
    background: black;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 22px;
}

p {    font-size: 16px;}
h1 {    font-size:40px;}
h3 {    font-size:20px;}


page{
    display = block;
    text-align: center;
}

.message{
    position: absolute;
    height: auto;
    width: auto;
    right: 35%;
    left: 35%;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    background-color: #333;
    z-index: 5;
    top: 7%;
    font-size: 16px;
}

/* menu bar */
.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    z-index: 6;
}
.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the search box inside the navigation bar */

.search-container {
  float: right;
}

.search-container input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.user_inputs img{
    max-width: 16px;
    max-height: 16px;
}

.user_inputs button{
    float: right
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: none;
    padding: 5px;
    border: none;
}

.user_inputs p {
    display: inline;
}

.user_inputs {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    vertical-align: center;
}

.user_inputs .buttons {
    display: inline;
    position: right;
}


.dropdown {
    float: left;
    overflow: hidden;
    z-index: 2;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}
.container a:hover, .dropdown:hover .dropbtn {    background-color: red;}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {    background-color: #ddd;}
.dropdown:hover .dropdown-content {    display: block;}

.search-results {
    display: none;
    position: fixed;
    background-color: #333;
    width: 400px;
    max-height: 625px;
    z-index: 5;
    padding: 6px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-result {
    background: #333;
    color: white;
    padding:2px, 2px;
    width: 375px;
    height: 50px;
    display: block;
}

.search-bar {
    width: 375px;
}

.search-result p {
    text-align-x: left;
    text-align-y: center;
    position: absolute;
}

.search-result img{
    max-width: 26px;
    max-height: 26px;
    filter: invert(1);
}

.search-result button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    outline: none;
    padding: 2px;
    margin: 10px;
}

.search-result button:hover{ background-color: transparent;}


/* loader used from http://tobiasahlin.com/spinkit/ */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {  -webkit-animation-delay: 0.2s;          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {  -webkit-animation-delay: 0.3s;          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {  -webkit-animation-delay: 0.4s;          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {  -webkit-animation-delay: 0.1s;          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {  -webkit-animation-delay: 0.2s;          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {  -webkit-animation-delay: 0.3s;          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {  -webkit-animation-delay: 0s;            animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {  -webkit-animation-delay: 0.1s;          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {  -webkit-animation-delay: 0.2s;          animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    overflow: hidden;

}

.menu {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
}

.satellite_hover{
    position: absolute;
    height:auto;
    width:auto;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    background-color: #333;
    display: none;
    z-index: 4;
    font-size: 16px;
}

.satellite_info{
    position: absolute;
    left: 0;
    height:auto;
    width:auto;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    background-color: #333;
    display: none;
    z-index: 1;
}

.satellite_name{
    font: 20px arial, sans-serif;
    text-align: center;
}

.satellite_attribute{
    font: 15px arial, sans-serif;
    color: grey;
    display: inline-block;
    text-align: left;
}

.satellite_attribute_value{
    font: 15px arial, sans-serif;
    display: inline-block;
    text-align: right;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* checkboxes for groups */
.checkboxes {
    display: block;
    position: relative;
    padding: 12px 16px;
    margin-bottom: 12px;
    color: black;
    /*cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

/* Hide the browser's default radio button */
.checkboxes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 6px;
    right: 8px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkboxes:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkboxes input:checked ~ .checkmark {
    background-color: green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkboxes input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkboxes .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.column {
    float: left;
    width: 49%;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}