<!DOCTYPE html>
<html>
    <head>
                <!-- title -->
        <title>Kardol Space Program</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}"/>
        <!-- meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Style sheet in CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/timepicker.css') }}">

        <!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>

    </head>
    <body onload="loadingData(23);" style="overflow:automatic">
        <!-- menu bar at the top of the screen -->
        <div class="container">
            <a href="/">Live visualization</a>
            <a onclick="userSearchData(0);">Search Date</a>
        </div>

        <!--&lt;!&ndash; This is the user option for searching for specific data &ndash;&gt;-->
        <!--<div id="UserSearch" style="display: none">-->
            <!--<div id="UserDateSearch">-->
                <!--Please, select the date you wish to examine.<br>-->
                <!--<input type="text" id="userDate" value="yyyy/mm/dd" onchange="checkInputDate(0);"/>-->
                <!--<button id='confirmDate' onclick="loadingData(1);searchDate(1);" disabled="true">Confirm</button>-->
            <!--</div>-->
            <!--<p id="searchMessage"></p>-->
            <!--<button id='cancelSearch' onclick="userSearchData(3);">Cancel Search</button>-->

        <!--</div>-->

        <div id="UserSearch" class="message" style="display: none">
            <div id="UserDateSearch">
                Please, select the date you wish to examine.<br>
                <input type="text" id="userDate" value="yyyy/mm/dd" onchange="checkInputDate(0);"/>
                <button id='confirmDate' onclick="loadingData(1);searchDate(1);" disabled="true">Confirm</button>
            </div>
            <div id="UserSatelliteSearch">
                Please, select the satellite(s) you wish to examine.<br>
                <input type="text" id="userSatellite" value="" onchange="satelliteConfirm();"/>
                <button id='confirmSatellite' onclick="" disabled="true">Confirm</button>
            </div>
            <div id="UserSatelliteDateSearch">
                Please, select the satellite(s) you wish to examine.<br>
                <input type="text" id="userSatelliteDate" value=""/><br>
                Please, select the starting date you wish to examine.<br>
                <input type="text" id="userDateStart" value="yyyy/mm/dd" onchange="checkInputDate(1);"/><br>
                Please, select the starting date you wish to examine.<br>
                <input type="text" id="userDateEnd" value="yyyy/mm/dd" onchange="checkInputDate(1);"/>
                <button id='confirmSatelliteDate' onclick="loadingData(1);searchDate(2);" disabled="true">Confirm
                </button>
            </div>
            <p id="searchMessage"></p>
            <button id='cancelSearch' onclick="userSearchData(3);">Cancel Search</button>

        </div>

        <!-- This is the html for the loading screen -->
        <div id="loading">
           <!-- template for cube loading screen used: http://tobiasahlin.com/spinkit/ -->
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
            <div class="message"> Loading the visualization... Please be patient.</div>
        </div>

                <!--satellite name when hovered-->
        <div id="satellite_hover" class="satellite_hover" style="display:none"></div>

        <!-- satellite information -->
        <div id="satellite_info" class="satellite_info" style="display:none"></div>



        <div class="row">
            <div class="column">
                <h1>About the orbit visualization tool</h1>
                <p>
                    This orbit visualization tool was created by Sven Kardol (me) as part of his thesis for my degree from
                    the Delft University of Technology. During my literature study, I explored several other orbit
                    visualization tool and came to the conclusion that current tools have a wide variety of
                    functionalities. However, it seemed that comparing multiple satellite orbits at certain times,
                    past, present, or near future, is not an option that is readily available. In the past, it might
                    have been sufficient for a tool to focus on a single satellite, but since the rise of small
                    satellites and the higher use of constellations, nowadays, more features that can combine multiple
                    satellites are desirable.
                </p>
                <p>
                    Another feature that is missing from a few of these tools is the ability to navigate through time
                    easily without having to perform a lot of complicated steps, like manually inserting historical data
                    sets. This feature would allow a user to see the movements of a satellite over a certain period of
                    time or even visualize the growth of the number of satellites over the years.
                </p>

                <p>
                    Most of the tools examined were desktop application that require a good understanding of the program
                    in order to use it properly. For some of the applications, the user is required to learn a
                    programming language that is specifically written for this one application and is not used anywhere
                    else. The user has to learn how to use the program, which requires time and effort. Desktop
                    applications can also provide a significant barrier to usability. This is especially the case
                    when the application requires additional installations, for example a Java runtime environment.
                </p>

                <p>
                    After the conclusions from the literature study, the thesis work focused on developing this tool and
                    on the use of the tool. Several use cases have been examined, including visualization of the Iridium
                    33 and Cosmos 2251 collision. One of the first articles that appeared on the subject was
                    "Satellite Collision Leaves Significant  Debris Clouds" by J.C. Liou published in the Orbital Debris
                    Quarterly News vol 13(2) in April 2009.  The article mentioned that about a month and a half after
                    the collision 823 large debris objects were tracked and related to the collision, but that there
                    were more to be cataloged. The article goes on to show a prediction of how the debris spreads out
                    over time. The prediction is shown on the left. Six months after the collision would be August 10th,
                    2009. Using the tool, we can compare how this prediction held up with the tracked items at the time.
                    The tool provided the image shown on the right.
                </p>
                <div class="column"><img src="{{ url_for('static', filename = 'img/article.png') }}" style="max-width:80%;" ></div>
                <div class="column"><img src="{{ url_for('static', filename = 'img/tool.png') }}" style="max-width:80%;" ></div>

            </div>
            <div class="column"><img src="{{ url_for('static', filename = 'img/sot.png') }}" >
                <p>
                    Both figures show the debris from the Iridium 33 and Cosmos 2251 using the same color scheme.
                    In the figures, red depicts the Cosmos 2251 debris objects, whereas green shows the Iridium 33 debris
                    objects. Both figures also show that the debris indeed spread out over the time period of 6 months from
                    the initial orbit of the satellite. However, it can be seen that the prediction is spread out more than
                    the orbits provided from the TLE data. The green orbits show a much wider spread in the prediction model
                    that the tracked objects show. Furthermore, the red orbits show that a few objects were predicted to have
                    more divergence from the original orbit.
                </p>

                <h3> The source code of the project can be found on  <a>gitlab.</a> Link will be provided on October 3rd 2018.

                <br /> For more information or questions about the tool, please feel free to contact me at svenkardol@hotmail.com </h3>
            </div>
        </div>



    </body>
</html>