<!doctype html>
<html>
    <head>
        <!-- title -->
        <title>Sven Kardol: Graduate Thesis Alpha Phase</title>
        <!-- meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Style sheet in CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Scripts used in the code -->
        <script>
            function load(){
                window.location.href = "/home";
            };
        </script>

    </head>

    <body onload="load()">
        <!-- div to hold the canvas for the simulation -->
        <div id="webgl" class="fullscreen"></div>
        <!-- menu bar at the top of the screen -->
        <div class="container">
            <a href="/">Try Live Visualization</a>
            <a href="/about">About</a>
        </div>

        <!-- This is the html for the loading screen -->
        <div id="loading">
           <!-- template for cube loading screen used: http://tobiasahlin.com/spinkit/ -->
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
            <div class="message"> Something went wrong with your request. We are attempting to reload the live visualization. </div>
        </div>
    </body>

</html>




