<!doctype html>
<html>
    <head>
        <!-- title -->
        <title>Kardol Space Program</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}"/>

        <!-- meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Style sheet in CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/timepicker.css') }}">

        <!-- Scripts used in the code -->
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/satellite.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/three.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>

        {{ JSGlue.include() }}

    </head>

    <body onload="loadingData(0);">
        <!-- div to hold the canvas for the simulation -->
        <div id="webgl" class="fullscreen"></div>
        <!-- menu bar at the top of the screen -->
        <div class="container">
            <a href="/home">Live</a>
            <div class="dropdown">
                <button class="dropbtn">User Options</button>
                <div class="dropdown-content">
                    <a onclick="userSearchData(0);">Search Date</a>
                    <div id="user_inputs" class="user_inputs"></div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Object Selection</button>
                <div class="dropdown-content">
                    <label class="checkboxes">Payload
                        <input type="checkbox" checked="checked" onchange="selectGroup('PAYLOAD')">
                        <span class="checkmark"></span>
                    </label>
                    <label class="checkboxes"> Rocket Bodies
                        <input type="checkbox" checked="checked" onchange="selectGroup('ROCKET BODY')">
                        <span class="checkmark"></span>
                    </label>
                        <label class="checkboxes">Debris
                        <input type="checkbox" checked="checked" onchange="selectGroup('DEBRIS')">
                    <span class="checkmark"></span>
                    </label>
                        <label class="checkboxes">TBA / TBD
                        <input type="checkbox" checked="checked" onchange="selectGroup('TBA')">
                    <span class="checkmark"></span>
                    </label>
                    <a onclick="addSatellites();">Confirm Selection</a>
                </div>
            </div>
            <a href="/about">About</a>

<!--//Checkbox: <input type="checkbox" id="myCheck" onclick="myFunction()">-->
            <!--<a href="/home" onclick="loadingData(1);">Reload Data</a>-->
          <!--search box-->
            <div class="search-container">
                <input id="satellite_search" class="search-barwe" type="text" placeholder="Search Satellite.."
                        style="width: 375px;">
                <div id='satellite-results' class="search-results" style="width: 375px;"></div>
                <button type="submit" onclick="searchSatellite()" title="Select All"><i class="fa fa-search"></i></button>
            </div>


        </div>

        <!-- This is the html for the loading screen -->
        <div id="loading">
           <!-- template for cube loading screen used: http://tobiasahlin.com/spinkit/ -->
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
            <div class="message"> Performing calculations ... Be patient please.</div>
        </div>

        <!-- This is the user option for searching for specific data -->
        <div id="UserSearch" class="message" style="display: none">
            <div id="UserDateSearch">
                Please, select the date you wish to examine.<br>
                <input type="text" id="userDate" value="yyyy/mm/dd" onchange="checkInputDate(0);"/>
                <button id='confirmDate' onclick="loadingData(1);searchDate(1);" disabled="true">Confirm</button>
            </div>
            <div id="UserSatelliteSearch">
                Please, select the satellite(s) you wish to examine.<br>
                <input type="text" id="userSatellite" value="", onchange="satelliteConfirm();"/>
                <button id='confirmSatellite' onclick="" disabled="true">Confirm</button>
            </div>
            <div id="UserSatelliteDateSearch">
                Please, select the satellite(s) you wish to examine.<br>
                <input type="text" id="userSatelliteDate" value=""/><br>
                Please, select the starting date you wish to examine.<br>
                <input type="text" id="userDateStart" value="yyyy/mm/dd" onchange="checkInputDate(1);"/><br>
                Please, select the starting date you wish to examine.<br>
                <input type="text" id="userDateEnd" value="yyyy/mm/dd" onchange="checkInputDate(1);"/>
                <button id='confirmSatelliteDate' onclick="loadingData(1);searchDate(2);" disabled="true">Confirm
                </button>
            </div>
            <p id="searchMessage"></p>
            <button id='cancelSearch' onclick="userSearchData(3);">Cancel Search</button>

        </div>

        <!-- div to hold the variables used in the data -->
        <div id="variables">
            <div id="time" style="display: none; text-align: right; margin-right: 20px;">{{time}}</div>
            <div id="sol_lat" style="display:none">{{sol_lat}}</div>
            <div id="sol_lon"style="display:none">{{sol_lon}}</div>
            <div id="data" style="display:none">{{data}}</div>
            <div id="satcat" style="display:none">{{sat_cat}}</div>
        </div>
        <div id="user_menu" class="menu"></div>

        <!--satellite name when hovered-->
        <div id="satellite_hover" class="satellite_hover"></div>

        <!-- satellite information -->
        <div id="satellite_info" class="satellite_info">
            <div id="satellite_name" class="satellite_name"></div>
            <div class="satellite_info_row">
                <div id="NORAD" class="satellite_attribute">Norad ID: </div>
                <div id="satellite_norad" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="INTDES" class="satellite_attribute">International Designator: </div>
                <div id="satellite_intdes" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="TYPE" class="satellite_attribute">Object Type: </div>
                <div id="satellite_type" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="APOGEE" class="satellite_attribute">Apogee: </div>
                <div id="satellite_apogee" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="PERIGEE" class="satellite_attribute">Perigee: </div>
                <div id="satellite_perigee" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="Inclination" class="satellite_attribute">Inclination: </div>
                <div id="satellite_inclination" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="Period" class="satellite_attribute">Period: </div>
                <div id="satellite_period" class="satellite_attribute_value"></div>
            </div>
            <div class="satellite_info_row">
                <div id="DECAY" class="satellite_attribute">DECAY: </div>
                <div id="satellite_decay" class="satellite_attribute_value"></div>
            </div>
        </div>

        <!--scripts to run-->
        <script src="{{ url_for('static', filename='js/global_variables.js')}}"></script>
        <script src="{{ url_for('static', filename = 'js/Detector.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/OrbitControls.js') }}"></script>
        <script src="{{ url_for('static', filename='js/earth_visualization.js')}}"></script>
        <script src="{{ url_for('static', filename='js/satellite_object.js')}}"></script>
        <script src="{{ url_for('static', filename='js/data_handler.js')}}"></script>
        <script src="{{ url_for('static', filename = 'js/lagrange_interpolation.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/timepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/visualization.js')}}"></script>
        <script src="{{ url_for('static', filename='js/user_input.js')}}"></script>

    </body>

</html>




